<div class="row gitstats text-shadow">
	<div class="row">
		<div class="span6 intro" id="commit_intro">latest commits!</div>
	</row>	
	<div class="row">
		<div class="span2" id="commit_number"><%= render 'home/git/commit_number'%></div>
		<div class="span1" id="commit_hash"><%= render 'home/git/hash_details'%></div>
	</div>
	<div class="row">
		<div class="span4" id="commit_message"><%= render 'home/git/commit_message'%></div>
	</div>
</div>
