<div class="email_signup pull-right">
<%= form_tag(mailchimp_path) do %>
<%= text_field_tag :email, params[:email], placeholder: 'subscribe to our newsletter', class: 'email_signup' %>
<%= submit_tag  "signup", :class => "sub_btn" %>
<% end %>  
</div>



