<div class="email_signup pull-right">
    <div class="input-append">
    <input class="span2" id="appendedInputButton" type="text">
    <button class="btn" type="button">Register</button>
    </div>
</div>
