<div class="email_signup pull-right">
<%= form_tag(put_api_path, :method => "put") do %>
<%= text_field_tag 'email', 'get updates', :class => "email_signup" %>
<%= submit_tag  "Signup", :class => "sub_btn" %>
<% end %>  
</div>



