
		<div id="home_hero" class="hero-unit visible-desktop">
			<div class="container">
				<div class="tab-content">
	    			<div class="tab-pane fade in active" id="1">
				
			 			<div class="big_fish">
			 				<%= link_to image_tag("logo-big.png", alt: "mmofish"), 'http://www.mmofish.com'%>
			 			</div>
	
					</div>
			    	<div class="tab-pane fade in" id="2">
			    		<div class="hero-header">
			    		<h2>about mmofish</h2>
			    		</div>
			    		<div class="hero-img-about"><%= image_tag("about-img.png", alt: "About") %></div>
			    		<p class="hero-text">
			    			Gaming communities need great websites and social tools to help them thrive. Why should we compromise?ch
			    			<br />
			    			<i>No, I am not a web developer. <br />
			    			No I don't want to stick a template on it and call it unique. <br />
			    			No I don't want to look at any more ads. <br />
			    			Why cant it just work - and connect to my games?</i>
			    			<br />
			    			<b>Grow your community!</b></p>
			    	</div>
			    	<div class="tab-pane fade in" id="3">
			    		<p>Beta Information Here...</p>
			    	</div>
			    </div>
		</div>
	</div>	
