
		<div id="home_hero" class="hero-unit visible-desktop">
			<div class="container">
				<div class="tab-content">
	    			<div class="tab-pane fade in active" id="1">
				
			 			<div class="big_fish">
			 				<%= link_to image_tag("logo-big.png", alt: "mmofish"), 'http://www.mmofish.com'%>
			 			</div>
	
					</div>
			    	<div class="tab-pane fade in" id="2">
			    		<h2>mmofish</h2>
			    		<p style="padding:20px; color:white;" class="text-shadow">
			    			Gaming communities need great websites and social tools to help them thrive.
			    			<br />
			    			No, I am not a web developer.
			    			No I don't want to stick a template on it and call it unique.
			    			No I don't want to look at any more ads.
			    			Why cant it just work - and connect to my games ?
			    			<br />
			    			Grow your community.</p>
			    	</div>
			    	<div class="tab-pane fade in" id="3">
			    		<p>Beta Information Here...</p>
			    	</div>
			    </div>
		</div>
	</div>	
