<nav class="midnav text-shadow nav center">
				<ul class="nav midnav" id="home-panes">
  					<li><a href="#1" data-toggle="tab">home</a></li>
  					<li><a href="#2" data-toggle="tab">about</a></li>
  					<li><a href="#3" data-toggle="tab">contact</a></li>
  					<li><a href="#4" data-toggle="tab">beta</a></li>
  				</ul>
			</nav>