/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "colors";
@import "font-awesome";

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }

.home .content {
      background:transparent;
      box-shadow:none;
    }

.home footer {margin-top:60px;

}
    
/* UNIVERSAL */

html {
  overflow-y: scroll;
  background-color: $backgroundGrey;
  height:100%;
  background-color:$backgroundOrange;
}

body {
  background-color:$backgroundOrange;
  background-image:image-url("bg.png");
   background-repeat: repeat;      
  
}



.sample_content {
  height:372px;
  
}

#footer {
    background-image:image-url("bg.png");
   background-repeat: repeat;  
height: 60px;
}

section {
  overflow:auto;
}

textarea {
  resize:vertical;
}

/*scss inheritance in action!*/
.center {
  text-align:center;
  h1 {
    margin-bottom:10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
  color:$greyLight;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.text-shadow {
  text-shadow: 0px 1px 1px $textShadow;
  
}

/* Scroller pages for homepage concept /*
 * 
 */

.page_first {background-color:$backgroundOrange}



/*Note need to cut this with a media query
 *and have alternate content for mobiles!
 */


/* First Page Hero Unit */
#home_hero.visible-desktop{
  margin-left:auto;
  margin-right:auto;
  width:800px;
  height:400px;
  margin-top:100px;
  margin-bottom:10px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.25);
  background-color:$backgroundOrange;
  background-image:image-url("tile-bg.png");
  border-radius: 0px;
  text-align:center;
  padding:0;
  transition: border .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out;
  -moz-transition: border .25s ease-in-out;
  -ms-transition: border .25s ease-in-out;
  -o-transition: border .25s ease-in-out;
  border: 1px solid #f78b00;
    .container{
     width:100%;
     height:100%;
     padding:0;
     margin:0;
    }
  &:hover {
    
    border: 1px solid #fff200;
/*    margin-top:154px;
    margin-bottom:9px; */
    
  }

}

.big_fish {
  margin-top:100px;
   margin-left:auto;
  margin-right:auto;
} 
/* Navbars */

header.navbar {
  background-color:#000;

  }

.midnav {
  background-image: image-url("separator-h.png");
  background-repeat:no-repeat;
  background-position:center bottom;
  font-family:'Geo';
  
}
.midnav > li { 
  padding-bottom:10px;
text-align:center; 
  display:inline-block; 
    /* IE hasLayout hack */ 
    zoom:1; 
    *display:inline; 
    
} 

.nav.midnav > li > a {
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    font-size:27px;
    transition: .25s ease-in-out;
         -webkit-transition: .25s ease-in-out;
         -moz-transition: .25s ease-in-out;
         -ms-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
    &:hover, &:active, &:focus {
    text-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    color:$highlight;
    background:transparent;
    background-color:$backgroundOrange;
    }
  }

.midnav {
  color:#fff200;
    a {
      color:#fff200;
    }
}

/* Email Sign-up */

#email.email_signup {
  width: 190px;
  border-radius: 4px 0 0 4px;
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.25);
    color: #ffc000;
    background-color:#f78b00;
    border-color:#f78b00; 
     &:hover, &:focus{
       border-color:#fff200;
       box-shadow: inset 0px 1px 8px rgba(0,0,0,0.25);
       color: #fff200;
     
   }
 }
 @-moz-document url-prefix(){ .sub_btn{padding: 2px 12px !important;}}
.sub_btn{
display: inline-block;
padding: 4px 12px;
margin-bottom: 9px;
border: 1px solid #ffc000;
border-left: none;
text-align: center;
vertical-align: middle;
cursor: pointer;
margin-left: -5px;
border-radius: 0 3px 3px 0;
 
   color: #f78b00;
    font-family: 'Geo';
    font-size: 22px;
    text-transform:lowercase;
    text-shadow:none; 
   background-color: #ffc000;
   background: -webkit-gradient(linear, top, bottom, from(#fff200), to(#ffc000));
   background: -webkit-linear-gradient(top, #fff200, #ffc000);
   background: -moz-linear-gradient(top, #fff200, #ffc000);
   background: -ms-linear-gradient(top, #fff200, #ffc000);
   background: -o-linear-gradient(top, #fff200, #ffc000);
 &:active {
   background: -webkit-gradient(linear, top, bottom, from(#ffc000), to(#fff200));
   background: -webkit-linear-gradient(top, #ffc000, #fff200);
   background: -moz-linear-gradient(top, #ffc000, #fff200);
   background: -ms-linear-gradient(top, #ffc000, #fff200);
   background: -o-linear-gradient(top, #ffc000, #fff200);

 }
 
  }



/* Git Stats */


.gitstats {
  color:$font;
  #commit_intro {
    font-family:$headingFont;
    font-size:27px;
    text-transform:lowercase;
    padding-left:5px;
    margin-left:35px;
  }
  #commit_number {
    font-family:$bodyFont;
    font-size:   150px;
    line-height: 125px;
    margin-left:30px;
   }
   #commit_hash {
     padding-left:35px;
     padding-top:15px;
     margin-left:55px;
   }
   #commit_message {
     padding-left:10px;
     padding-right:10px;
     padding-top:5px;
     margin-left:27px;
     } 
}



/* Home Page Nav */
.midnav > li > a:hover, .midnav > li > a:focus {
  background-color:none;
}

/* Social Icons */
.social_icons {
  
  background-image: image-url("separator-v.png");
  background-repeat:no-repeat;
  background-position:right center;
  padding-right:30px;
  min-height:200px;
  margin-right:0;
  margin-top:0px;
  margin-bottom:5px;
   li {
      transition: .25s ease-in-out;
         -webkit-transition: .25s ease-in-out;
         -moz-transition: .25s ease-in-out;
         -ms-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
     a {
      color: #ffc000;
      transition: .25s ease-in-out;
         -webkit-transition: .25s ease-in-out;
         -moz-transition: .25s ease-in-out;
         -ms-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
     }
     cursor:pointer;
    margin-bottom:8px;
    color: #ffc000;
    font-size:15px;
    text-shadow: 0px 1px 1px $textShadow;

    a:hover {
       color: $highlight;
       text-decoration:none;
    }
  }
}
i { font-size: 40px; }

.social_icons .sl { position: relative; } /* Font Awesome is missing YouTube :( */
.icon-sign-blank .icon-play { position: absolute; top: 5px; left: 2px; color: $backgroundOrange; font-size: 20px; text-shadow:none;}
.social_icons .si { position: relative; }
.si .icon-sign-blank { position: absolute; top: 5px; left: 2px; color: transparent; font-size: 20px; text-shadow:none;}

.social_icons ul {
  margin-left:0;
  padding-left:0;
  
}

/* GIT STUFF */
.span5.git-stuff{
  margin-left: 55px;
  
}

/* FOOTER */

footer {

  background-color: $backgroundOrange;
  color:#ffc000; 
  a {
    color: #fff200;
    &:hover {
      color: #ffff99; 
      text-decoration:none;
    }
  }
  .f-separator {
  background-image: image-url("separator-f.png");
  background-repeat:no-repeat;
  background-position:center top;
  border-top: none;}
  small {
    font-size:14px;
    text-align:center;
    font-weight:300;
  }
 }
 
/*BETA TAG*/
.beta {
  color: $backgroundOrange;
  width:150px;
  height:150px;
  background-image: image-url("beta-bg.png");
  background-repeat: no-repeat;
  background-color: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
z-index: 10000;
right:-28px;
top:-44px;
padding-top:36px;
position: fixed;
font-size: 10px;
text-align:center;
line-height:1;
text-shadow: 0 1px 1px rgba(0,0,0,0.25);  
text-rendering: optimizeLegibility;
       a{
          transition: .5s ease-in-out;
         -webkit-transition: .5s ease-in-out;
         -moz-transition: .5s ease-in-out;
         -ms-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
          text-decoration: none;
          color: $backgroundOrange;
          }
         a:hover {
           text-decoration: none;
           color: #fff200;
           }
    
  .beta-text {
    text-shadow: 0 1px 1px rgba(0,0,0,0.15);
    text-rendering: optimizeLegibility;
    font-size:14px;
    font-family: 'Dosis';
    line-height:1.5;
    
  }
}

.hero-header {
  background: image-url("separator-h.png") no-repeat center bottom;
 h2 {
   font-family:'Geo';
   color:#fff200;
   text-shadow: 0 1px 1px rgba(0,0,0,0.15);
 }
  
}

.hero-img-about{
  float:left;
  width:300px;
  padding-left:20px;
  padding-right:20px;
}

.hero-text {
  line-height:2;
  text-align:left;
  padding:20px;
  color:#fff200;
  font-family: $baseFontFamily;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 1px $textShadow;
  i {
    font-size:18px
  }
  
}
