/* All colors and vars go here for easy maintenance */
@import "bootstrap/variables";
@import "bootstrap/mixins";


$backgroundOrange:#f78b00;
$backgroundGrey:#eeeeee;
$textShadow:rgba(0,0,0,0.25); /*black with 25% opacity!*/
$font:#ffc000;
$highlight:#f78b00;
$greyMid:#666;
$greyLight:#333;

/* Font Stacks */
$myBaseFont: 'Dosis', sans-serif;
$baseFontFamily: $myBaseFont;
$headingFont:'Geo', sans-serif;
$bodyFont:'Dosis', sans-serif;